
Python/Lab2/.idea/inspectionProfiles/profiles_settings.xml
Python/Lab3/cm_timer.py
Python/Lab3/field.py
Python/Lab3/gen_random.py
Python/Lab3/sort.py
Python/Lab3/unique.py
Python/Lab3/process_data.py
Python/Lab3/print_result.py
Python/Lab3/lab3/
