<html>
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Index</h1>
             </div></br></br></br>
                <h1 class="bottom">
                     Hi {{bal}} !!</br></br> Welcome to the Huawei Bank...
                </h1></br></br></br>
                <h2 class="word">
                    <form action="{{ url_for('login') }}" method="post">
                      <div class="bal">{{ bal }}</div>
                      <input type="submit" class="btn" value="Logout">
                    </form>
                </h2>
                <a href="{{ url_for('trans') }}" class="btn">Transfer</a>
                <a href="{{ url_for('balance') }}" class="btn">Balance</a>
          </div>
        </div>
    </body>
</html>